@use "./../abstracts/" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $bg-clr;
  padding: 0 5%;

  cursor: none;
  width: 100%;
  overflow-x: hidden;
  position: relative;
  @include mq("lg") {
    padding: 0 10%;
  }
  a {
    cursor: none;
  }
  @include mq("lg") {
    &::before {
      content: "";
      position: fixed;
      top: 20%;
      left: 0;
      width: 5px;
      height: 60vh;
      background: $fg-clr;
    }
  }
  @include mq("xxl") {
    padding: 0 20%;
  }
}
