@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap");

$logo-font: "Kaushan Script", cursive;
$text-font: "Poppins", sans-serif;
$handwriting-font: "Patrick Hand SC", cursive;

$bg-clr: #131313;
$fg-clr: #f9f9f9;

$primary-clr: #ff005c;
